#include "resource.h"
#include "../submodules/lib-nxa-sdk/nexus-sdk.rc"

NXA_SFX_DARKSOULS      WAVE    "assets/screens/darksouls/darksouls_death.wav"
NXA_TEX_DARKSOULS_EN   RCDATA  "assets/screens/darksouls/en-darksouls.png"
NXA_TEX_DARKSOULS_DE   RCDATA  "assets/screens/darksouls/de-darksouls.png"
NXA_TEX_DARKSOULS_ES   RCDATA  "assets/screens/darksouls/es-darksouls.png"
NXA_TEX_DARKSOULS_FR   RCDATA  "assets/screens/darksouls/fr-darksouls.png"

NXA_SFX_ANGRYPEPE      WAVE    "assets/screens/angrypepe/reeee.wav"
NXA_TEX_ANGRYPEPE      RCDATA  "assets/screens/angrypepe/angry-pepe.png"

NXA_SFX_GTA            WAVE    "assets/screens/gta/gta_wasted.wav"
NXA_TEX_GTA_EN         RCDATA  "assets/screens/gta/en-wasted.png"
NXA_TEX_GTA_DE         RCDATA  "assets/screens/gta/de-wasted.png"
NXA_TEX_GTA_ES         RCDATA  "assets/screens/gta/es-wasted.png"
NXA_TEX_GTA_FR         RCDATA  "assets/screens/gta/fr-wasted.png"
NXA_TEX_GTA_PHOTO      RCDATA  "assets/screens/gta/photo-vignette.png"
NXA_TEX_GTA_FLASH      RCDATA  "assets/screens/gta/flash-vignette.png"

NXA_SFX_RYTLOCK        WAVE    "assets/screens/rytlock/new_music_sadending.wav"
NXA_TEX_RYTLOCK_0      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet0.png"
NXA_TEX_RYTLOCK_1      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet1.png"
NXA_TEX_RYTLOCK_2      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet2.png"
NXA_TEX_RYTLOCK_3      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet3.png"
NXA_TEX_RYTLOCK_4      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet4.png"
NXA_TEX_RYTLOCK_5      RCDATA  "assets/screens/rytlock/sad_rytlock-sheet5.png"

NXA_SFX_SEKIRO         WAVE    "assets/screens/sekiro/sekiro_death.wav"
NXA_TEX_SEKIRO         RCDATA  "assets/screens/sekiro/sekiro_death.png"
NXA_TEX_SEKIRO_OUT     RCDATA  "assets/screens/sekiro/sekiro_death_out.png"

NXA_SFX_WINXP          WAVE    "assets/screens/winxp/winxp-error.wav"
NXA_TEX_WINXP          RCDATA  "assets/screens/winxp/winxp-error.png"

NXA_FONT_ATHELAS       RCDATA  "assets/fonts/Athelas-Regular.ttf"
NXA_FONT_CONSOLA       RCDATA  "assets/fonts/CONSOLA.TTF"

NXA_DATA_LOCALIZATION  RCDATA  "assets/localization.json"
